/* Mobile first */
body {
    font-family: font-family, "Montserrat", sans-serif;
    /*background-color: #F5F4F2;*/
    margin-right: 0;
    margin-left: 0;
}
h1, h2, h3, h4 {
    font-family: font-family, "Merriweather", serif;
}
/******************************************/
/******** Grid ********/
.grid-container {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:    "a"
    "b"
    "c"
    "d";
}
.grid-header {
    grid-area: a;
}
.grid-main {
    grid-area: b;
}
.grid-aside {
    grid-area: c;
}
.grid-footer {
    grid-area: d;
}
/******** Grid ********/
/******************************************/
/******** Navbar ********/
.navbar-brand{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
}
.navbar-brand h1{
    margin: 0;
}
.navbar-brand a:link{
    color: #002516;
    text-decoration: none;
}
.navbar-brand a:hover{
    color: #002516;
    text-decoration: none;
}
.navbar-brand a:visited{
    color: #002516;
    text-decoration: none;
}
#navUL{
    list-style-type: none;
    margin: 0 1%;
    padding: 0;
    width: 98%;
    text-align: center;
}
.navLi{
    border-right: 1px solid #002516;
    border-bottom: 1px solid #002516;
    border-left: 1px solid #002516;
    border-radius: 10px;
}
.navLi:first-child{
    border-top: 1px solid #002516;
}
.navLi a{
    display: block;
    color: #000000;
    background-color: #F5F4F2;
    border-radius: 10px;
    padding: 8px 16px;
    text-decoration: none;
}
.navLi a.active{
    background-color: #23592A;
    color: white;
    border-radius: 10px;
}
.navLi a:hover:not(.active){
    background-color: #347036;
    color: #ffffff;
    border-radius: 10px;
}
/******** Navbar ********/
/******************************************/
/******** grid-main ********/
article{
    text-align: center;
}
/******** grid-main ********/
/******************************************/
/******** grid-aside ********/
#topFem{
    width: 300px;
    margin: 0 auto;
    text-align: left;
}
/******** grid-aside ********/
/******************************************/
/******** grid-footer ********/
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*margin: 0;*/
}
.foot1{
    background-color: red;
    margin: 0;
}
.foot2{
    background-color: green;
    margin: 0;
}
.foot3{
    background-color: yellow;
    margin: 0;
}
.foot4{
    background-color: orange;
    margin: 0;
}
#emelieholm{
    width: 100%;
}
/******** grid-footer ********/
/******************************************/
/******** footer ********/
/******** footer ********/