/* Mobile first */
body {
    font-family: font-family, "Montserrat", sans-serif;
    /*background-color: #F5F4F2;*/
    margin-right: 0;
    margin-left: 0;
}
h1, h2, h3, h4 {
    font-family: font-family, "Merriweather", serif;
}
/******************************************/
/******** Grid ********/
/******** Grid ********/
/******************************************/
/******** Navbar ********/
/******** Navbar ********/
/******************************************/
/******** grid-main ********/
/******** grid-main ********/
/******************************************/
/******** grid-aside ********/
/******** grid-aside ********/
/******************************************/
/******** grid-footer ********/
/******** grid-footer ********/
/******************************************/
/******** footer ********/
#ansvarig{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
/******** footer ********/
