/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /******** Grid ********/
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "a a a" "b b c" "d d d";
    }
    /******** Grid ********/
    /******************************************/
    /******** Navbar ********/
    #navUL{
        display: flex;
        justify-content: center;
    }
    .navLi{
        margin: 0 5px;
        border-top: 1px solid #002516;
        border-bottom: 1px solid #002516;
        border-left: 1px solid #002516;
        border-radius: 10px;
        float: left;
    }
    .navLi:first-child{
        border-right: 1px solid #002516;
    }
    /******** Navbar ********/

    /******** Navbar ********/
    /******************************************/
    /******** grid-footer ********/
    .flex-container {
        justify-content: center;
        flex-direction: row;
        /*flex-flow: column wrap;*/
        /*align-content: center;*/

    }
    .foot1{
        width: 383px;
    }
    .foot2{
        width: 383px;
    }
    .foot3{
        width: 383px;
    }
    .foot4{
        width: 383px;
    }
    /******** grid-footer ********/
}